span {
    font-size: 40px;
}

#error {
    display: flex;
    margin: 20px 10px 0 10px;
    width: auto;
    font-size: 22px;
    color: #FF0000;
}

.wrapping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
.registerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    height: 500px;
    width: 400px;
    font-family: 'Signika Negative', sans-serif;
    color: black;
    font-size: 1.44em;
    font-weight: 600;
    border-radius: 12px;
    text-align: center;
    background-color: #ffffd4;
    border: 1px solid black;
    -webkit-box-shadow: 7px 7px 20px 7px rgba(42, 42, 70, 1);
    -moz-box-shadow: 7px 7px 20px 7px rgba(42, 42, 70, 1);
    box-shadow: 7px 7px 20px 7px rgba(42, 42, 70, 1);
}

.registerInputs input {
    height: 25px;
    width: 180px;
    background-color: #979797d3;
    color: rgb(10, 48, 82);
    margin: 12px 0 0 0;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    outline: none;
}

.registerInputs input:focus {
    outline: solid;
    outline-width: 2px;
    outline-color: #6d1111d3;
    height: 25px;
}

.registerBox p {
    margin: 0;
    margin-top: 10px;
    width: max-content;
}

.regBtn {
	display: inline-block;
    position: relative;
    right: -50px;
    margin-top: 20px;
	padding: 6px 5px;
	background-color: #07cf29;
	color: #333333;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #01811d;
	background: linear-gradient(to bottom, #22eb4d 5%, #018d20 100%);
	box-shadow: inset 0px 1px 0px 0px #fff6af;
	border-radius: 6px;
	border: 1px solid #00c020;
	cursor: pointer;
}

.regBtn:hover {
	background: linear-gradient(to bottom, #018d20 5%, #22eb4d 100%);
	background-color: #07cf29;
}

.regBtn:active {
	position: relative;
	top: 1px;
}

/* for login site */

.loginInfoWords {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: auto;
    text-align: right;
}

.loginInfoWords > span {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 16px 5px 0 15px;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    margin-right: auto;
}

.loginInputs > input {
    margin-top: 10px;
    height: 25px;
    width: 180px;
    background-color: #979797d3;
    color: rgb(10, 48, 82);
    margin: 12px 0 0 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: large;
    border: none;
    border-radius: 7px;
    outline: none;
}

.loginInputs > input:focus {
    outline: solid;
    outline-width: 2px;
    background-color: #979797d3;
    outline-color: #6d1111d3;
    height: 25px;
}

.loginInputs > button {
    margin: 10px 0 0 50px;
}

.loginInputs > #user-error {
    display: none;
    align-items: center;
    position: relative;
    background-color: rgb(5, 37, 65);
    margin-top: 10px;
    min-height: 30px;
    color: red;
    font-weight: 400;
}